@using CarRental.Models
@model IEnumerable<CarViewModel>
<div class="wheel-start3">
    <img src="/images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Search Results</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="prosuct-wrap search-results">
    <div class="container padd-lr0 xs-padd">
        <div class="product-list product-list2 wheel-bgt clearfix">
            <div class="row">
                @if (Model != null && Model.Count() > 0) { 
                foreach (CarViewModel m in Model)
                {
                    <div class="col-xs-12 car">
                        <div class="product-elem-style1 product-elem-style  wheel-bg1 clearfix">
                            @if (m.isRecommendedCar)
                            {
                                <h4 class="recommended">Great Deal!</h4>
                            }
                            <div class="product-table2">
                                <div class="img-wrap img-wrap2 product-cell">
                                    <img src="@m.Image" alt="img" class="img-responsive">
                                </div>
                            </div>
                            <div class="product-table3">
                                <div class="text-wrap text-wrap2 product-cell">
                                    <div class="title">@m.Year @m.ManufactureName @m.Name</div>
                                    <div class="price-wrap product-cell">
                                        <span class="price">@m.PricePerDay</span><small>USD</small>/Day
                                    </div>
                                </div>
                                <div class="img-wrap img-wrap3 product-cell">
                                    <img src="/images/i34.jpg" alt="img" class="img-responsive">
                                </div>
                                <div class="text-wrap  text-wrap3 product-cell">
                                    <ul class="metadata metadata2">
                                        
                                    </ul>
                                    <div class="wheel-view-link">
                                        <a href="/Home/ViewDetails?ID=@m.ID&pickupDate=@Request.QueryString["pickupDate"]&returnDate=@Request.QueryString["returnDate"]">View Details</a>
                                    </div>
                                    <div class="listing-hedlines t-center">
                                        <span id="rentBtn" class="wheel-cheader-but" onclick="rent(@m.ID)">Rent Now!</span>
                                        <span class="fa fa-facebook" onclick="shareCarOnFacebook(@m.ID)"></span>
                                        <span id="rentMessage">You rented this car.</span>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    }
                }
                else
                {
                    <h3>Oops! No cars were found, Try searching different dates</h3>
                }
            </div>
        </div>
    </div>
</div>
