@using CarRental.Models
@model CarViewModel

<div class="wheel-start3 style-5">
    <input type="text" hidden id="carId" value="@Model.ID" />
    <img src="~/images/z-bg-11.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Listing Details</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#"> Listing </a></li>
                        <li class="active">Listing details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="imgOnBanner-wrap">
        <img src="@Model.Image" alt="" class="imgOnBanner img-responsive">
    </div>
</div>
<div class="container-fluid padd-lr0">
    <div class="row padd-lr0">
        <div class="col-xs-12 padd-lr0">
            <div class="container padd-lr0 xs-padd">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="listing-hedlines t-center">
                            <h5 class="title">@Model.ManufactureName  @Model.Name   @Model.Year</h5>
                            <div class="subtitle">@Model.PricePerDay$ Per Day</div>
                            @if (Request.QueryString["pickupDate"] != null)
                            {
                                <span id="rentBtn" class="wheel-cheader-but" onclick="rent(@Model.ID)">Rent Now!</span>
                                <span id="rentMessage">You rented this car.</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row marg-lg-t55 marg-sm-t0 marg-sm-b0 marg-lg-b75">
                    <div class="col-xs-12 marg-lg-b75 marg-sm-b0 padd-lr0">
                        <div class="wheel-map style-1" data-lat="40.7143528" data-lng="-74.0059731" data-marker="/images/marker.png" data-zoom="10" data-style="style-1" data-string="WPC string"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
