@using CarRental.ViewModels
@using CarRental.Models
@model ManageViewModel
<div class="wheel-start3 style-5">
    <img src="images/z-bg-11.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                <h2>Manufactures</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Manufacture item in Model.ManufacturesList)
            {
                            <tr>
                                <td>@item.ID</td>
                                <td class="manufacture-name">@item.Name</td>
                                <td><span class="edit-btn">Edit</span></td>
                                <td><a href="/Admin/DeleteManufacture?ID=@item.ID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--Models-->
            <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                <h2>Models</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Model</th>
                            <th>ManufactureID</th>
                            <th>Year</th>
                            <th>Color</th>
                            <th>Price Per Day</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Model item in Model.ModelsList)
            {
                            <tr>
                                <td>@item.ID</td>
                                <td class="manufacture-name">@item.Name</td>
                                <td>@item.ManufactureId</td>
                                <td>@item.Year</td>
                                <td>@item.Color</td>
                                <td>@item.PricePerDay</td>
                                <td><a href="/Admin/EditModel?ID=@item.ID">Edit</a></td>
                                <td><a href="/Admin/DeleteModel?ID=@item.ID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
